apiVersion: metallb.io/v1beta1
kind: IPAddressPool
metadata:
  namespace: metallb-system
  name: reconhawx
spec:
  addresses:
  - LB_IP_PLACEHOLDER-LB_IP_PLACEHOLDER
---
apiVersion: metallb.io/v1beta1
kind: L2Advertisement
metadata:
  namespace: metallb-system
  name: reconhawx