aiohttp==3.13.3
beautifulsoup4==4.14.3
nats_py==2.14.0
playwright==1.58.0
python_dateutil==2.9.0.post0
python_whois==0.9.5
redis==7.4.0
Requests==2.33.0
tldextract==5.3.1
urllib3==2.6.3
whoisit==4.0.3
